<div class="card">
  <div class="card-container">
    <h3>Libros donados</h3>
    <div class="row">
      <div class="col-lg-12">
        <div class="book-card">
          <div class="book-img">
            <img class="book-cover" src="https://about.canva.com/wp-content/uploads/sites/3/2015/01/business_bookcover.png">
          </div>
          <div class="book-info">
            <span class="title">Make things happen</span>
            <span class="author">Elizabeth Murphy</span>
            <span class="genre">Business</span>
            <span class="abstract">
              From pursuing a creative endeavor to securing a much deserved promotion, this guide book cover from Canva takes readers through your process with a clean and structured design.
            </span>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-lg-12">
        <div class="book-card">
          <div class="book-img">
            <img class="book-cover" src="https://about.canva.com/wp-content/uploads/sites/3/2015/01/business_bookcover.png">
          </div>
          <div class="book-info">
            <span class="title">Make things happen</span>
            <span class="author">Elizabeth Murphy</span>
            <span class="genre">Business</span>
            <span class="abstract">
              From pursuing a creative endeavor to securing a much deserved promotion, this guide book cover from Canva takes readers through your process with a clean and structured design.
            </span>
          </div>
        </div>
      </div>
    </div> <!-- end mis libros alojados contents  -->
  </div>
</div>
