<div class="card">
  <div class="card-container">
    <div class="user-presentation">
      <div class="user-avatar">
        <img src="http://www.autismwesterncape.org.za/wp-content/uploads/2015/01/Nelson-Mandela-Topic-300x300.jpg" alt="user-avatar">
      </div>
      <div class="user-info">
        <h5 class="name"><%= current_user.name %></h5>
        <p class="city">Santiago de Chile</p>
        <p class="stats">Alojados: 2 - Totales: 10 - Donados: 20</p>
        <p class="quote">No es valiente aquel que no tiene miedo sino el que sabe conquistarlo.</p>
      </div>
    </div>
  </div>
</div>
