<div class="card">
  <div class="card-container">
    <div class="row">
      <div class="col-lg-12">
        <div class="book-card">
          <div class="book-img">
            <img class="book-cover" src="https://about.canva.com/wp-content/uploads/sites/3/2015/01/business_bookcover.png">
          </div>
          <div class="book-info">
            <span class="title">Make things happen</span>
            <span class="author">Elizabeth Murphy</span>
            <span class="genre">Business</span>
            <span class="abstract">
												From pursuing a creative endeavor to securing a much deserved promotion, this guide book cover from Canva takes readers through your process with a clean and structured design.
											</span>
          </div>
        </div>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-lg-6">
        <h4 class="">Timeline</h4>
        <div class="timeline-container">

          <!-- timeline card -->
          <div class="timeline-card">
            <div class="timeline-date">
              <div class="year">2017</div>
              <div class="day">31</div>
              <div class="month">Dic</div>
            </div>
            <div class="timeline-user">
              <div class="timeline-user-img">
                <img src="http://www.autismwesterncape.org.za/wp-content/uploads/2015/01/Nelson-Mandela-Topic-300x300.jpg" alt="">
              </div>
              <div class="timeline-user-data">
                <span class="user-name"><a href="">Morgan Freeman Carrasco</a></span>
                <span class="user-city">Santiago de Chile</span>
                <span class="user-stats">Alojados: 2  Total: 10  Donados: 20</span>
              </div>
            </div>
          </div>
          <!-- end timeline card -->
          <!-- timeline card -->
          <div class="timeline-card">
            <div class="timeline-date">
              <div class="year">2017</div>
              <div class="day">31</div>
              <div class="month">Dic</div>
            </div>
            <div class="timeline-user">
              <div class="timeline-user-img">
                <img src="http://www.autismwesterncape.org.za/wp-content/uploads/2015/01/Nelson-Mandela-Topic-300x300.jpg" alt="">
              </div>
              <div class="timeline-user-data">
                <span class="user-name"><a href="">Morgan Freeman Carrasco</a></span>
                <span class="user-city">Santiago de Chile</span>
                <span class="user-stats">Alojados: 2  Total: 10  Donados: 20</span>
              </div>
            </div>
          </div>
          <!-- end timeline card -->
        </div>
      </div>
      <div class="col-lg-6">
        <h4 class="">Album de viajes</h4>
      </div>
    </div>
  </div>
</div>
