<div class="card">
  <div class="card-container">
    <div class="row">
      <div class="col-lg-12">
        <h5>Aloja un libro</h5>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Código del libro...">
            <span class="input-group-btn">
											<button class="btn btn-info" type="button">Solicitar</button>
										</span>
          </div>
          <h4></h4>
          <div class="transfer-request">
            <div class="transfer-request-container">
              <div class="transfer-request-img">
                <img class="book-cover" src="https://about.canva.com/wp-content/uploads/sites/3/2015/01/children_bookcover.png">
              </div>
              <div class="transfer-request-data">
                <ul>
                  <li>Titulo: Fred</li>
                  <li>ISBN: 2342422525</li>
                  <li>Autor</li>
                </ul>
              </div>
            </div>
            <button class="btn btn-success btn-block">Confirmar</button>
          </div>
      </div>
    </div>
  </div>
</div>
